@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
:root {
    --primary-color: #556ee6;
    --secondary-color: #778beb;
    --paper-color: #e8ebf1;
    --blank-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background: #e8ebf1;
}

body > nav {
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
    align-items: center;
    display: flex;
}
body > nav > .brand {
    font-size: 1.6rem;
    font-weight: 500;
    flex: 1;
}
body > nav > .options {
    display: flex;
    align-items: center;
}
body > nav > .options > span {
    display: flex;
    padding: 10px;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    cursor: pointer;
}

body > layout {
    display: flex;
    flex: 1;
    height: calc(100vh - 45px);
}

body > layout > aside {
    min-width: 250px;
    background: var(--blank-color);
    padding: 5px;
    overflow-y: auto;
    border-right: 1px solid #dddddd;
}
body > layout > main {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    justify-content: center;
    display: flex;
}

aside > #components {
    display: flex;
    flex-wrap: wrap;
    width: 275px;
    gap: 15px;
    padding: 10px;
}

aside > #components > .item {
    align-self: center;
    margin: 0;
    padding: 0 15px 15px 0;
    max-width: 50%;
    color: #555555;
    background: #556ee6;
    cursor: pointer;
    background: #fff url("../img/component-icons.png") no-repeat;
    background-size: 114px;
    padding: 90px 5px 5px;
    height: 120px;
    border-radius: 6px;
    border: 1px solid #f2f2f2;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 18%);
    cursor: -webkit-grab;
    width: 120px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main iframe#contextframe {
    width: 100%;
    height: calc(100% - 3px);
}
/*  */
main.ondrop:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
